.btn {
   border: 1px solid black;
   font-weight: 600;
   font-size: 14px;
   // line-height: 16px;
   color: #121212;
   display: flex;
   align-items: center;
   gap: 0.56rem;
   padding: 0.87rem 0;
   padding-left: 1.56rem;
   border-radius: 20px;
   width: 100%;

}

a:-webkit-any-link {
   color: black;
   cursor: pointer;
   text-decoration: none;
}

a.text:active,
/* активная/посещенная ссылка */
a.text:hover,
/* при наведении */
a.text {
   text-decoration: none;
   color: #666;
}

.arrow {
   cursor: pointer;
   position: relative;
   width: 1.56rem;
   height: 1px;
   background-color: #514A7E;

   & div::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 1px;
      top: -1px;
      right: 0px;
      background-color: #514A7E;
      transform: rotate(45deg);
   }

   & div::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 1px;
      top: 1px;
      right: 0px;
      background-color: #514A7E;
      transform: rotate(-45deg);
   }
}