.container {
   width: 1170px;
   margin: 0 auto;

}

.gap {
   padding: 0 22.5px;
}
.hoveffect {
   border: 1px solid #7D7D7D;
   width: 19.37rem;
   border-radius: 20px;
   display: flex;
   flex-shrink: 0;
}
.sale {
   font-family: 'Bad Script';
   font-style: italic;
   font-weight: 400;
   font-size: 40px;
   line-height: 87.3%;
   /* or 35px */
   padding-left: 16.25rem;

   color: #514A7E;

}

.title {
   font-weight: 300;
   font-size: 40px;
   line-height: 87.3%;
   /* or 35px */
   color: #121212;
   margin-top: 11.5rem;
}